@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: #F7F7F7;
}


.Wrap{
  overflow:hidden;
}

.Section{
  height:500px;
  width:1000px;
  margin: 0 auto;
}

.SlideShow{
  width:500px;
  float: left;
  margin: 20px 0 20px 100px ;
  padding: 20px;
  background: #ffffff;
  border:1px solid rgba(0,0,0,0.1);
  cursor: pointer;
}

.Main{
  width:500px;
  height:400px;
}

#Left{
  float: left;
  border:0;
}

#Right{
  padding: 20px 60px 20px 0;
  float: right;
  border:0;

}

.Header{
  width:100%;
  background: #fff;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.Header h1{
  padding: 10px;
  font-weight: lighter;
  text-align:center;;
}

.Container{
  width:1000px;
  min-height:1000px;
  margin: auto;
}

.Aside{
  float: left;
  background: #ffffff;
  width:227px;
  margin: 20px 0 20px 40px;
  border:1px solid rgba(0,0,0,0.1);
}

#Location, #Contact{
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 5px;
  word-wrap: break-word;
  letter-spacing: 1px;
}

.AsideSegment a{
  text-align: center;
  color:#3092DA;
  margin: auto;
  display: block;
}
.AsideSegment a:hover{
  color:#104EDE;
}
.AsideSegment a:active{
  color:#104EDE;
}

.Item{
  height:50px;
  width: 79px;
  background: #222;
  float: left;
  margin: 0 2px;
}

#Testimonial{
  clear: both;
  background: #ffffff;
  width: 800px;
  margin: auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.Testimonial{
  float: left;
  width: 400px;
}

.Brief h2{
  text-align:center;
  font-size:20px;
  padding: 15px 15px 0 15px;
  font-weight:400;
}

.Message p{
  text-align:center;
  padding: 10px;
  line-height: 22px;
  font-size: 14px
}

.Details{
  background: #ffffff;
  width: 800px;
  overflow:hidden;
  margin: 10px auto;
  border: 1px solid rgba(0,0,0,0.1);
}

.Details h2{
  font-size:20px;
  padding: 15px 15px 0 15px;
  font-weight:400;
}

.Details p{
  float: left;
  line-height: 22px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.Arrage{
  padding: 20px 0 20px 60px;
  border:0;
}

.Nav{
  width:100%;
  overflow:hidden;
  background: #fff;
}


.Nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  float: left;
  list-style: none;
  padding: 10px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  font-size: 20px;
  font-weight: 500;
}
.Nav a:hover {
  color: #333333;
}

.subNav{
  width:258px;
  margin: auto;
}

.map{
  text-align: center;
  margin: 40px auto;
}
.Calander{
  width: 752px;
  margin: 30px auto;
}

.month{
  float: left;
  border-radius:10px;
  padding: 10px;
  background:#fff;
  margin:6px;
  border:1px solid rgba(0,0,0,0.1 );
}

.month p {
  text-align: center;
  margin-bottom: 10px;

}
.day{
  background:#F1F1F1;
  border:1px solid rgba(0,0,0,0.05);
  width:20px;
  height:20px;
  float: left;
  text-align:center;
  font-size:10px;
  line-height: 20px;
}

#Taken{
  background:#C1DCFF;
}

#Past{
  color:rgba(0,0,0,0.39);
}

.key{
  text-align: center;
  width:200px;
  background:#fff;
  padding: 10px;
  margin:10px auto;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius:10px;
}

.key h1{
  font-weight: lighter;
  margin-bottom: 20px;
}

.key .day{
  width:auto;
  height:auto;
  margin: auto;
  float: none;
  font-size:16px;
}
